
@whitespace: 13px;
@line-height: 20px;
// @actionbar-height: @whitespace*3 + @line-height;


// <jenking>
@bg: #000000;
@fg: #c0c0c0;
@hover-bg: inherit;
@hover-fg: #00ff00;
@active-bg: @hover-bg;
@active-fg: @hover-fg;
@border-bg: @fg;
@blue: #000080;
@green: #008000;
@link-fg: #008080;
@link-focus: #00ffff;
@td-bg: #272822;
@font: Monaco, monospace, "Ubuntu Mono";
@font-size: 12px;
// </jenking>

// <light>
// @bg: #f4f4f4;
// @fg: #c0c0c0;
// @hover-bg: inherit;
// @hover-fg: #00ff00;
// @active-bg: @hover-bg;
// @active-fg: @hover-fg;
// @border-bg: @fg;
// @blue: #000080;
// @green: #008000;
// @link-fg: #008080;
// @link-focus: #00ffff;
// @td-bg: #222;
// @font-size: 13px;
// </light>

// <monokai>
// @bg: #49483E;
// @fg: #F8F8F0;
// @font-family: Monaco, monospace, "Ubuntu Mono";
// @font-size: 12px;
// </monokai>
