.schemable({
  @height: @banner-height;

  .banner-wrapper {
    background: @base3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @height;
    z-index: 3;
    border-bottom: @banner-border-dim solid @base2;
  }

  .banner {
    width: @content-width;
    margin: @whitespace auto;
    height: @banner-inner-height;
    position: relative;

    &__logo {
      margin: 0;
      letter-spacing: 2px;
      display: inline-block;
      // vertical-align: middle;
    }

    &__logo-highlight {
      color: @solarized-cyan;
    }

    &__motto {
      font-size: 10px;
      margin: @whitespace 0 0 0;
    }
  }

  .banner__navigation {
    position: absolute;
    right: 0;
    top: @whitespace/3;
    line-height: 1;

    &-item {
      margin-left: @whitespace;
      letter-spacing: 1px;
      .inline-block();

      .icon:before {
        color: @solarized-cyan;
        vertical-align: top;
      }

      &:before, &:after {
        font-size: 12px;
      }

      // &:before {
      //   content: '[ ';
      //   color: @solarized-cyan;
      // }

      // &:after {
      //   content: ' ]';
      //   color: @solarized-cyan;
      // }
    }
  }
});