<section id="PCREck_engines">
  <fieldset id="PCREck_engine">
    <legend>Engine</legend>
    <% @@engines.each_pair do |name, e| %>
      <label>
        <input  type="radio" name="engine" value="<%= name %>"
                <%= 'checked="checked"' if @link.engine == name %> />
        <%= name %>
      </label>
    <% end %>
  </fieldset>
</section>