<footer>
  <small><a href="http://www.rgx.com">rgx</a> is free software.
    <a href="https://github.com/amireh/rgx.git">Fork it</a> on Github,
    or pay its <a href="http://www.algollabs.com">author</a> a visit.
  </small>
</footer>