<header>
  <hgroup>
    <h1>
      <a href="/">PCRE<em style="font-style: normal; color: orange">ck</em></a>
    </h1>
    <h2 class="description">a realtime <a href="http://www.pcre.org/pcre.txt">PCRE</a> regular expression editor</h2>
  </hgroup>
</header>