<section id="PCRE_options">
  <fieldset>
    <legend>PCRE Options</legend>
    <label title="makes matching case insensitive">
      <input type="checkbox" name="pcre[options]" value="i" />
      Caseless <code>/i</code>
    </label>
    <label title="captures will span line feeds">
      <input type="checkbox" name="pcre[options]" value="m" />
      Multi-line <code>/m</code>
    </label>
    <label title="makes .* match everything, including control characters">
      <input type="checkbox" name="pcre[options]" value="s" />
      Dot-ALL <code>/s</code>
    </label>
    <label>
      <input type="checkbox" name="pcre[options]" value="x" />
      Extended <code>/x</code>
    </label>
    <label>
      <input type="checkbox" name="pcre[options]" value="U" />
      Ungreedy <code>/U</code>
    </label>
    <label>
      <input type="checkbox" name="pcre[options]" value="X" />
      Extra <code>/X</code>
    </label>
  </fieldset>
</section>