<section id="references">
  <h2>References</h2>
  <p>The PCRE cheat sheet was built from a number of sources to which
    the credit goes.</p>
  <ol>
    <li>
      <a href="http://www.pcre.org/pcre.txt">The PCRE manual</a>
      was used as the primary reference
    </li>
    <li><a href="http://www.rubular.com">Rubular</a>; some of the
      ranges, quantifiers, and assertions were snooped from there
      as they were compatible with PCRE
    </li>
    <li>One <a href="http://cheat-sheet.front.lv/wp-content/uploads/2006/08/pcre-php.png">PHP PCRE cheat sheet</a></li>
  </ol>

</section>