<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" 
          content="PCREck is an interface for editing, testing, and validating PCRE regular expressions.">

    <title>PCREck - a PCRE regular expression editor</title>

    <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
    <% if has_proximanova? then %>
      <link href="/css/fonts/proximanova.css" rel="stylesheet" type="text/css" />
    <% end %>

    <script src="/js/jquery.autosize.js"></script>
    <script src="/js/dynamism.js"></script>
    <script src="/js/PCREck.js"></script>
    <link href="/css/PCREck.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
      PCREck = PCREck();
      $(function() {
        PCREck.setup();

        $("input[type=text], textarea").keyup(PCREck.pulsate);
        $("input[type=checkbox]").change(PCREck.pulsate);
        $("textarea").autosize();
      });
    </script>

    <% yield_content :scripts %>
    <%= erb :"_google_analytics" %>
  </head>

  <body>
    <header>
      <hgroup>
        <h1>
          PCRE<em style="font-style: normal; color: orange">ck</em>
        </h1>
        <span class="description">a realtime <a href="http://www.pcre.org/pcre.txt">PCRE</a> regular expression editor</span>
        <nav>
          &gt;&gt;
          <% if @link && @link.mode == "simple" %>
            <span>Simple mode</span> &brvbar;
            <a title="The advanced mode provides features useful for complex and large expressions" href="/modes/advanced">Advanced mode</a>
          <% else %>
            <a href="/">Simple mode</a> &brvbar;
            <span>Advanced mode</span>
          <% end %>
        </nav>
      </hgroup>
      <!-- <p>
        PCREck is a <a href="http://www.pcre.org/pcre.txt">PCRE</a>
        regular expression editor and tester similar 
        to what <a href="http://www.rubular">Rubular</a> is
        for Ruby's regular expressions.
      </p> -->
    </header>

    <%= yield %>

    <footer>
      <small><a href="http://www.pcreck.com">PCREck</a> is free software.
        <a href="https://github.com/amireh/PCREck.git">Fork it</a> on Github,
        or pay its <a href="http://www.mxvt.net">author</a> a visit.
      </small>
    </footer>
  </body>
</html>