<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          content="PCREck is an interface for editing, testing, and validating PCRE regular expressions.">

    <title>PCREck - a PCRE regular expression editor</title>
    <link href="/css/PCREck.css" rel="stylesheet" type="text/css" />

    <%= erb :"_google_analytics" if settings.production? %>
  </head>

  <body>
    <%= erb :"_header" %>
    <%= yield %>
    <%= erb :"_footer" %>
  </body>
</html>