/* ------
 * PCREck
 * ------ */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  background: #fff;
  color: #2E2633;
  font-family: "ProximaNova-Light", Arial, Helvetica, Verdana;
  width: 960px;
  margin: 0 auto;
  letter-spacing: 1px;
}

a,a:visited { color: #00A0B0; }
a:hover { text-decoration: none; }

header h1 {
  color: black;
  font-size: 3em;
  margin: 0;
  padding: 10px 0;
}
header h1,
header h1 span {
  -webkit-transition: color 0.2s ease 0s;  /* Saf3.2+, Chrome */
  -moz-transition: color 0.2s ease 0s;  /* FF4+ */
  -ms-transition: color 0.2s ease 0s;  /* IE10 */
  -o-transition: color 0.2s ease 0s;  /* Opera 10.5+ */
  transition: color 0.2s ease 0s;
}
header h1:hover {
  color: orange;
}
header h1:hover span {
  color: black !important;
}

h2 {
  color: #fff;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ddd;
  color: #99173C;
}

code {
  color: purple;
  font-size: 14px;
  /*color: #490A3D;*/
  /*color: orange;*/
}

input[type=text],
textarea,
pre {
  width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px;
  margin: 0;
}
pre#PCREck_match,
pre#PCREck_capture,
pre.match,
pre.capture {
  white-space: pre-wrap;
  font-family: "ProximaNova-Light", Arial, Helvetica, Verdana;  
  min-height: 40px;
}
input[type^=text],
textarea,
fieldset,
pre {
  border: 1px solid #ddd;
}
input[type=text],
textarea,
pre {
  border-top: none;
}
textarea, pre {
  max-width: 100%;
  min-width: 100%;
}
textarea {
  padding-top: 13px;
}

pre em { /* highlighted matches */
  font-style: normal;
  background: orange;
}

table td {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

section {
  display: block;
  width: 100%;
  margin: 5px 0;
  position: relative;
}
section,
.part {
  float: left;
}

footer {
  display: block;
  float: left;
  width: 100%;
  margin: 20px 0;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ddd;
}
section:not(.part) h2:first-child {
  margin-bottom: 0;
}
td:first-of-type {
  padding-right: 5px
}

.PCREck label {
  box-shadow: 0 3px 3px 0px rgba(0,0,0,0.5);
  display: block;
  /*background: #EFFFCD;*/
  background: #555152;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  z-index: 10;
  position: relative;
  width: 100.5%;
}
#PCREck_pattern_options,
#PCREck_pattern {
  height: 43px;
  min-height: 43px;
  vertical-align: middle;
}

#PCREck_subject {
  min-height: 130px;
}

.right {
  float: right;
}
.left {
  float: left;
}

.part {
  width: 50%;
}
.part.spanner {
  width: 100%;
}
.part.left {
  border-right: 5px solid transparent;
}
.part.right {
  border-left: 5px solid transparent;
}


span#curly {
  position: absolute;
  left: -40px;
  font-size: 132px;
  font-weight: 100;
  opacity: 0.2;
  top: 40px;
}

*[hidden], .hidden {
  display: none;
}

.PCREck_subject {
  float: left;
  width: 48%;
  position: relative; 
  /*border-bottom: 1px solid #ddd;*/
  /*padding-bottom: 10px;*/
  /*margin-bottom: 10px;*/
}
.PCREck_subject h3:first-child {
  color: #99173C;
}
.PCREck_subject.odd {
  float: right;
}
.PCREck_subject:not(.odd) {
  clear: both;
}

.PCREck_subject label:first-of-type {
  margin-top: 0;
}
.PCREck_subject label {
  /* much easier on the eyes */
  background: #EEE;
  color: #111;
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.05);
}

.PCREck_subject button {
  position: absolute;
  top: 15px;
  right: -2px;
  padding: 5px 10px;
}
button {
  cursor: pointer;
  color: #fff;
  background: #555152;
  -webkit-transition: background-color 0.2s ease 0s;  /* Saf3.2+, Chrome */
  -moz-transition: background-color 0.2s ease 0s;  /* FF4+ */
  -ms-transition: background-color 0.2s ease 0s;  /* IE10 */
  -o-transition: background-color 0.2s ease 0s;  /* Opera 10.5+ */
  transition: background-color 0.2s ease 0s;
  padding:7px 10px;
  /*font-family:'Helvetica Neue',sans-serif;*/
  font-size:13px;
  border-radius:1px;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border: 1px solid #fff;    
  box-shadow: 0px 0px 1px 1px #111;

}

button:hover:not(:active) {
  background: #fff;
  color: #111;
}
button:active {
  background: orange;
}