html {
	background:url(http://ard.healingland.net/images/design/back-back.png);
}



iframe html

{
	background:none;}
.cont {
	margin:0 auto;
	padding:0;
	background:url(http://ard.healingland.net/images/design/body-bg.png) center repeat-y;
	width:995px;
}
* {
	border:none;
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}
body#main {
	background-attachment:fixed;
	color:#4d4a4a;
	font-family:Century Gothic, Century, Arial, tahoma;
	font-size:12px;
	text-align:center;
	border:solid red 0;
}
ul {
	list-style:none;
}
a, a:visited {
	color:#069;
	outline:none;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
input, select, textarea {
	border:1px solid #a7a6a6;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	color:#666;
	padding:5px;
	background:url(http://ard.healingland.net/images/design/topfade.gif) repeat-x scroll center top #fff;
}
select option {
	padding:0 4px 0 7px;
}
.clear {
	clear:both;
	display:block;
	height:0;
	line-height:0;
	overflow:hidden;
}
.wrapper {
	margin:0 0 0 auto;
	text-align:left;
	width:995px;
	direction:rtl;
}
.topNavbar {
	background:url(http://ard.healingland.net/images/design/bg_top_navigation.gif);
	border-bottom:1px solid #EEE;
	font-size:11px;
	height:30px;
	line-height:30px;
	margin:0;
}
.headerLogin {
	float:left;
}
.headerLogin li, .headerLogin li a, .headerLogin li a:visited {
	float:right;
	padding:0 5px 0 10px;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
.headerLogin li a:hover {
	text-decoration:none;
	color:#b1dfff;
}
.topNavbar .wrapper {
	position:relative;
	margin:0 auto;
	border:solid red 0;
	z-index:2;
}
 
.head-wrap {
	background:url(http://ard.healingland.net/images/design/header-patter.gif);
	height:174px;
}
.head-cont {
	background:url(http://ard.healingland.net/images/design/ardalshifa-head.png) top left no-repeat;
	height:145px;
	float:left;
	width:100%;
}
.header {
	width:991px;
	margin:0 auto;
	height:145px;
	background-repeat:no-repeat;
	background-position:right;
}
h1 {
	margin:39px 0 0 0;
	color:#1691bd;
	line-height:30px;
	font-size:18px;
}
h1.logo {
	  float: left;
    height: 86px;
    margin: 25px 0 0 749px;
    overflow: hidden;
    width: 222px;
}
h1.logo a {
  display: block;
    height: 86px;
    outline: medium none;
}
h1.logo a span {
	position:absolute;
	width:100px;
	overflow:hidden;
	top:-999px;
}
.navbar-cont {
	background:url(http://ard.healingland.net/images/design/menu-bg.png) repeat-x bottom left;
	height:46px;
	top:-17px;
	position:relative;
}
.navbar-co {
	display: block;
margin: 0 auto;
padding: 16px 0 0 0;
width: 969px;
}
.navbar {
	font-size:14px;
	height:42px;
	width: 965px;
	position:relative;
}
.navbar li {
	float:right;
	height:30px;
	line-height:35px;
	margin:0;
	border-left:dotted 1px #91dae7;
}
#TM0 a, #TM1 a, #TM3 a, #TM5 a, #TM4 a, #TM2 a, #TM6 a, #TM7 a, #TM8 a
{
	text-indent:-9999px;
	overflow:hidden;
	width:60px;}
	#TM0 a
	{background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -988px -108px transparent;}
	
	#TM1 a
	{background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -835px -108px transparent;
	width:135px;}
	#TM3 a
	{background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -686px -108px transparent;
	width:120px;}
	#TM5 a
	{background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -326px -108px transparent;
	width:63px;}
	#TM4 a
	{background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -552px -108px transparent;
	width:100px;}
		#TM2 a
	{background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -425px -108px transparent;
	width:95px;}
	
	#TM6 a
	{background: url("http://ard.healingland.net/images/design/all.png") repeat scroll 2px -108px transparent;
width: 79px;}
	#TM7 a
	{background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -204px -108px transparent;
width: 88px;}
	#TM8 a
	{background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -107px -108px transparent;
width: 62px;}
	
.navbar li#TM8 {
	border:none;
}
.navbar li a, .navbar li a:visited {
	color:#FFF;
	display:block;
	margin:4px 0 0 0;
	padding:0 7px 0 7px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
}
.navbar li.menuActived, .navbar li:hover {
	background:url(http://ard.healingland.net/images/design/bg_navbar_over.png) repeat-x 0 100%;
}


.content {
	padding:0 15px 20px 15px;
}
.breadcrumb {
	border-bottom:1px solid #EEE;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:28px;
	margin:0 0 10px 0;
	text-align:right;
	display:none;
}
.breadcrumb a, .breadcrumb a:visited {
	color:#C00;
}
.mainContent {
	float:left;
	padding:0 0 20px 0;
	width:490px;
	margin:0 0 0 12px;
}
.mainContentExtended, .mainContentExtendedFaq {
	float:left;
	padding:0 10px 20px 10px;
	_padding:0 0 20px 0;
	width:700px;
}
.sidebar {
	float:left;
	padding:0 0 20px 10px;
	width:220px;
}
.footer {
	background:url(http://ard.healingland.net/images/design/header-patter.gif);
	height:280px;
	position:relative;
	margin:-5px 0 0 0;
}
.footer .wrapper {
	border:solid red 0;
	width:965px;
	margin:0 auto;
}
ul.navFooter {
	float:right;
	padding:0;
	list-style:none;
	margin:15px 55px 0 0;
}

.navFooter li, .secondaryNavFooter li {
	padding:0 10px 3px 25px;
	text-align:right;
	line-height:23px;
	margin:0;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	background:url(http://ard.healingland.net/images/design/footer-list.png) bottom right no-repeat;
}
.navFooter li a, .navFooter li a:visited {
	color:#fff;
	text-align:right;
}
.copyright {
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	line-height:18px;
	padding:2px 0;
	clear:both;
	text-align:center;
}
  
.standardTitle {
	color:#666;
	font-size:18px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	font-style:italic;
	font-weight:bold;
	padding:0;
	background:url(http://ard.healingland.net/images/design/bg_h2.png) no-repeat left top;
	position:relative;
	text-align:right;
	height:54px;
}
.standardTitle span {
	font-weight:bold;
	color:#069;
	margin:0;
	background:url(http://ard.healingland.net/images/design/bg_h2_span.png) no-repeat right top;
	float:right;
	height:40px;
	padding:14px 23px 0 0;
}
.standardSubTitle {
	border-bottom:1px solid #CCC;
	color:#333;
	font-style:italic;
	font-size:16px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:right;
	padding:5px 5px 5px 0;
	margin:14px 0 0 0;
}
.standardSubTitle span, .standardSubTitle strong {
	color:#a7000d;
}
h3 {
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	font-family:Century Gothic, Century, Arial, tahoma;
}
#FA h3, #FA .complementaryInfo {
	text-align:right;
	padding:0 10px 0 0;
}
h3, h3 a, h3 a:visited {
	color:#414042;
}
h4 {
	font-size:12px;
}
.complementaryInfo {
	color:#666;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
.categoriesColumn p.complementaryInfo {
	font-family:Century Gothic, Century, Arial, tahoma;
	padding:0 15px 0 0;
	font-size:16px;
	line-height:22px;
	font-weight:bold;
	background-color:#f0f9fe;
}
.standardTitle .complementaryInfo {
	position:absolute;
	background:none;
	left:20px;
	top:8px;
}
address {
	font-style:normal;
}
.spacedText {
	padding:0 0 10px 0;
}
.search {
	border-bottom:5px solid #f7f7f7;
	margin:0 0 10px 0;
	width:100%;
}
.search form {
	background:url(http://ard.healingland.net/images/design/bg_search.gif) repeat 0 0;
	height:100%;
	overflow:hidden;
	padding:0 0 5px 0;
}
.search fieldset {
	float:right;
	padding:2px 10px 0 20px;
	width:34%;
	text-align:right;
}
.search label span b{
	color:#ae3e3e;
	display:block;
	font-size:14px;
	line-height:24px;
	float:right;
	padding:0;
	font-weight:normal
}
.search .altLabel, .search legend {
	clear:both;
	color:#666;
	display:block;
	float:left;
	font-size:14px;
	font-weight:bold;
	text-align:right;
	width:100%;
}
.search legend {
	float:none;
}
.search label span {
	color:#666;
	font-size:10px;
	margin:-1px 4px 0 0;
	display:block;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:21px;
}
.search .optionDescription {
	font-size:11px;
	padding:0 5px 0 5px;
	font-family:Tahoma, Geneva, sans-serif;
}
.search input, .search select, .search textarea {
	font:normal 15px Tahoma, Arial, Helvetica, sans-serif;
	padding:7px 4px;
	width:95%;
}
.search .altSelect {
	float:right;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	margin:0 0 5px 0;
	padding:1px;
	width:77%;
}
.search .spacedSelect {
	margin-left:70px;
}
.search .inputAuto {
	border:none;
	padding:0;
	vertical-align:middle;
	width:auto;
}
.search .inputSmall {
	font-size:12px;
	width:15%;
}
.search .advancedSearch {
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
	float:right;
	margin:30px 0 0 0;
	width:90px;
}
.search .standardButton {
	float:right;
	margin:27px 0 0 0;
}
.searchCategory {
	background:#FFC;
	color:#333;
}
.searchSubcategory {
	background:#ffffef;
}
.search .baseAdvancedSearch {
	margin-top:10px;
	width:15.5%;
	text-align:right;
}
.search .baseAdvancedSearch p {
	font-family:Tahoma, Geneva, sans-serif;
}
.baseAdvancedSearch input, .baseAdvancedSearch select {
	font-size:13px;
	margin-bottom:5px;
	font-family:Tahoma, Geneva, sans-serif;
}
.baseAdvancedSearch .inputSmall {
	vertical-align:middle;
	width:30%;
}
.search .baseTemplateSearch {
	margin-top:5px;
	padding-top:0;
	width:820px;
}
.baseTemplateSearch .altLabel {
	padding:0 10px 0 0;
	width:auto;
}
.templateSearchTab, .templateActive {
	display:block;
	float:left;
}
.templateSearchTab a, .templateSearchTab a:visited {
	display:block;
	line-height:29px;
	padding:0 10px 0 10px;
}
.templateActive a, .templateActive a:visited {
	background:#FFF;
	border:1px solid #CCC;
	border-bottom:none;
	color:#C00;
	display:block;
	line-height:29px;
	outline:none;
	padding:0 9px 0 9px;
}
.templateTabContent {
	background:#FFF;
	border:1px solid #CCC;
	margin-top:29px;
	padding:10px;
}
.templateTabContent .loading {
	float:none;
	margin:0;
	width:auto;
}
.templateTabContent label {
	color:#333;
	font-size:12px;
}
.templateTabContent input, .templateTabContent select {
	font-size:12px;
}
.templateCheckbox, .templateDropdown, .templateText, .templateRange, .templateDescription, .templateLongDescription {
	float:left;
	height:30px;
	padding:0 10px 0 0;
	width:32%;
}
.templateCheckbox label {
	display:inline;
}
.templateText, .templateRange, .templateDescription, .templateLongDescription {
	height:auto;
}
.templateRange input {
	width:30%;
}
.googleAds {
	text-align:center;
}
.viewMore {
	border-top:1px solid #CCC;
	clear:both;
	font-size:11px;
	line-height:24px;
	margin:0 0 10px 0;
	text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
	text-transform:lowercase;
}
.viewMore a, .viewMore a:visited {
	color:#C00;
}
.viewHighlighted {
	margin:0 0 10px 10px;
}
.viewHighlighted a, .viewHighlighted a:visited {
	color:#FFF;
	display:block;
	padding:0;
}
.noBorder {
	border:none;
}
.isHidden, .controlPhoneHide, .controlFaxHide {
	display:none!important;
}
.tempMargin {
	text-align:right;
	font-size:18px;
	padding:0 10px 0 0;
}
.switchOpen, .switchOpen:visited, .switchClose, .switchClose:visited, .switchBlank, .switchBlank:visited {
	background:url(http://ard.healingland.net/images/design/bg_switch_open.gif) no-repeat 0 2px;
	display:block;
	float:right;
	height:15px;
	overflow:hidden;
	text-decoration:none;
	margin:0 0 0 10px;
	text-indent:100px;
	width:17px;
}
.switchClose, .switchClose:visited {
	background:url(http://ard.healingland.net/images/design/bg_switch_close.gif) no-repeat 0 2px;
}
.switchBlank, .switchBlank:visited {
	background:url(http://ard.healingland.net/images/design/bg_switch_blank.gif) no-repeat 0 2px;
	cursor:default;
}
.switchOpen:hover, .switchClose:hover, .switchBlank:hover {
	text-decoration:none;
}
.standardButton {
	background:url(http://ard.healingland.net/images/design/bg_button_left.gif) no-repeat 0 0;
	padding-left:2px;
	margin:0 4px 0 0;
}
.standardButton button, .standardButton a, .standardButton a:visited {
	background:url(http://ard.healingland.net/images/design/bg_button_right.gif) no-repeat right 0;
	color:#FFF;
	cursor:pointer;
	display:block;
	font:bold 14px/30px Arial, Helvetica, sans-serif;
	text-align:center;
}
.standardButton, .standardButton button, .standardButton a, .standardButton a:visited {
	height:30px;
	width:95px;
}
.standardButton2 {
	background:url(http://ard.healingland.net/images/design/bg_button_right.gif) no-repeat right 0 #0089ac;
	color:#FFF;
	cursor:pointer;
	display:block;
	font:bold 14px/30px Arial, Helvetica, sans-serif;
	text-align:center;
}

.search .standardButton {
	background:none;
}
.search .standardButton button {
	width:74px;
	height:22px;
	border:none;
	text-indent:-9999px;
	outline:none;
	padding:0;
	margin:0;
	 background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -449px -51px transparent;
}
.featuredItems {
	overflow:hidden;
	padding:10px 0 10px 0;
}
.featured, .sidebar .featuredColumn .featured {
	padding:5px 5px;
	text-align:right;
}
.sidebar .featured {
	padding:5px;
}
.featuredListing, .featuredEvent, .featuredPromotion, .featuredClassified, .featuredArticle {
	float:right;
	height:150px;
	margin:0 8px 0 0;
}
.featuredColumn {
	float:right;
	width:180px;
}
.sidebar .featuredColumn {
	float:none;
	width:auto;
}
.featuredColumn .featured {
	padding:5px 0 5px 0;
}
.featuredPromotion, .featuredClassified {
	text-align:center;
}
.featuredListingImage, .featuredPromotionImage, .featuredClassifiedImage, .featuredEventImage, .featuredArticleImage {
   background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #DBDBDB;
    display: block;
    padding: 5px;
    text-align: center;
	-moz-border-radius: 4px;
border-radius: 4px;
}
.featuredPromotionImage:hover {
	border:1px dotted #a10000;
}
.featured .noimage:hover {
	text-decoration:none;
}
.readMore a, .readMore a:visited {
	color:#C00;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	text-transform:lowercase;
}
.readMore {
	text-align:left;
}
.highlightBox {
	width:100%;
	background:#FFC;
	height:100%;
	margin:0;
	overflow:hidden;
	padding:4px;
	text-align:center;
}
.mainContent .highlightBox {
	height:100%;
	margin:0;
	overflow:hidden;
	padding:0;
	text-align:right;
	background:none;
}
.mainContent .highlightBox .featuredListingImage {
  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBD9E8;
    float: left;
    margin: 28px 0 0 54px;
    padding: 2px;
}
.mainContent .highlightBox .highlightImage {
	width:225px;
	height:139px;
	margin:0 5px 10px 5px;
	background:#ededed;
	float:right;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	padding:5px;

}
.feat-list-in{
	
	background:#fff;
	border:solid 1px #d7d7d7;
	 	float:right;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	height:136px;

}


.feat-list-in:hover
{border:solid 1px #b2b2b2;}

.spec {
	background:url(http://ard.healingland.net/images/design/special.png) repeat scroll left top transparent;
	border:0 solid red;
	float:left;
	height:104px;
	margin:-13px 141px 0 0;
	display:none;
	position:absolute;
	right:auto;
	width:111px;
	z-index:100;
}
*+html .spec {
	margin:-133px 16px 0 -10px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
span.spec {
left:auto;
margin-left:-251px;
overflow:hidden;
border:solid red 0;
}
}

body:nth-of-type(1) .spec{margin-left: -141px;}
.mainContent .art .highlightImage, .mainContent .class .highlightImage {
	height:81px;
	background:none;
	width:110px;
	margin: 0 0 0 14px;
}
.mainContent .class .divisor {
	background:none repeat scroll 0 0 #ffffe5;
}
.mainContent .copoun-index .highlightImage, .mainContent .event-index .highlightImage {
	background:none;
	border:solid #fff 1px;
	height:auto;
}
.mainContent .event-index .highlightImage {
	width:110px;
}
.highlightImage a:hover {
	text-decoration:none;
}
.highlightBox .divisor {
	overflow:hidden;
	padding:0 0 20px 0;
	margin:0 0 10px 0;
	border-bottom: 1px dashed #CCC;
}
.class .divisor {
	padding:0;
}
.highlightLabel {
	color:#C00;
	display:block;
	font-size:11px;
	font-weight:bold;
	text-align:right;
	text-transform:uppercase;
}
.highlightBox {
	display:inline;
	float:right;
	margin:0;
}
.mainContent .highlightBox h3 {
	font-size:16px;
	margin:30px 20px 0 0;
	color:#4d4a4a;
}
.mainContent .feat-list h3 {
	 border: 0;
    color: #4D4A4A;
    float: right;
    font-size: 15px;
    margin: -115px 3px 0 0;
    text-align: center;
    width: 215px;
}
.mainContent .feat-list h3 a:hover {
	color:#1692bd;
	text-decoration:none;
}
.mainContent .art h3 {
	font-size:16px;
	margin:0 20px 0 0;
	border:solid #fff 1px;
	color:#4d4a4a;
}
.mainContent .highlightBox p.complementaryInfo {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:normal;
}
.complementaryInfo a:hover {
	text-decoration:underline;
}
.mainContent .feat-list p.complementaryInfo {
  border: 0 solid green;
    float: right;
    margin: 2px 0 0 0;
    text-align: center;
    width: 100%;
}
.mainContent .highlightBox .description {
	color:#333;
	padding:5px 0 0 0;
	font:12px Tahoma, Geneva, sans-serif;
}
.baseCalendar {
	background:#f5faeb;
	border:1px solid #CCC;
	font-size:11px;
	margin:0 0 10px 0;
	padding:10px;
	text-align:center;
}
.baseCalendar h4 {
	font-size:14px;
	color:#333;
}
.calendar {
	background:#FFF;
	border:1px solid #CCC;
	margin:5px 0 0 0;
}
.calendarHeader {
	background:#f7f7f7;
	font-size:12px;
	font-weight:bold;
}
.calendarHeader td, .calendarHeader th {
	padding:5px;
	vertical-align:top;
}
.calendarHeader a, .calendarHeader a:visited {
	color:#a7000d;
}
.calendarDay a, .calendarDay a:visited {
	background:#FFF;
	border:1px solid #fbfbfb;
	border-bottom:3px solid #EEE;
	border-right:3px solid #EEE;
	color:#333;
	display:block;
	font-weight:normal;
	padding:2px;
}
.calendarDay a:hover {
	background:#FFC;
	color:#C00;
}
.calendarDay a.today, .calendarDay a.today:visited, .calendarDay a.today:hover {
	background:#069;
	border:1px solid #069;
	color:#FFF;
}
.calendarDay a.selected, .calendarDay a.selected:visited, .calendarDay a.selected:hover {
	background:#C00;
	border:1px solid #C00;
	color:#FFF;
}
#twitter_update_list li {
	padding:6px 9px 5px 9px;
	text-align:center;
	border-bottom:dotted 1px #CCC;
}
#twitter_update_list li a {
	font-weight:normal;
}
.memberJoin, .memberLogin {
	font-family:Tahoma, Geneva, sans-serif;
}
.memberJoin h2, .memberLogin h2 {
	text-align:center;
}
.new-user, .forgotPassword {
	display:block;
	clear:both;
	margin:0;
	padding:0;
}
.new-user span {
	padding:0;
}
.memberJoin {
	background:#fff;
}
.memberJoin h2, .memberJoin h2 a, .memberJoin h2 a:visited {
	color:#a7000d;
	font-weight:normal;
}
.memberJoin p, .memberJoin p a, .memberJoin p a:visited {
	color:#333;
	text-align:center;
	font-size:13px;
	font-weight:normal;
}
.memberLogin {
	font-size:11px;
	height:100%;
	line-height:24px;
	overflow:hidden;
}
.memberLogin h2 {
	color:#069;
}
.memberLogin label {
	color:#333;
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
.memberLogin input, .memberLogin select, .memberLogin textarea {
	font:normal 12px tahoma, Arial, Helvetica, sans-serif;
	width:97%;
	float:right;
	background:url(http://ard.healingland.net/images/design/topfade.gif) repeat-x scroll center top #000;
	text-align:right;
}
.formFieldsLogin {
	text-align:right;
	margin:0 10px 0 0;
}
.memberLogin .inputAuto {
	border:none;
	margin:5px 5px 0 5px;
	width:auto;
}
.memberLogin p {
	float:right;
	color:#fff;
	text-align:right;
}
.memberLogin a {
	color:#fff;
	display:inline;
	font-size:13px;
	text-align:center;
}
.memberLogin .standardButton {
	background:url(http://ard.healingland.net/images/design/bg_secondary_button_left.gif) no-repeat 0 0;
	float:left;
	clear:both;
}
.memberLogin .standardButton button, .memberLogin .standardButton a, .memberLogin .standardButton a:visited {
	background:url(http://ard.healingland.net/images/design/bg_secondary_button_right.gif) no-repeat right 0;
}
.advertisement {
	background:#f7f7f7;
	overflow:hidden;
	margin:0 0 10px 0;
	padding:10px;
}
.advertisement span {
	color:#999;
	display:block;
	font-size:10px;
	font-weight:bold;
	line-height:20px;
}
.advertisement .advertisementLabel {
	float:left;
	text-transform:uppercase;
}
.advertisement .advertisementLink {
	float:right;
}
.advertisement a, .advertisement a:visited {
	color:#999;
}
.advertisement .noimage {
	border:none;
	margin:0 auto 0 auto;
}
.banner, .sponsoredLink, .featuredBanner a, .featuredBanner a:visited {
	background:#FFF;
	border:1px solid #CCC;
	clear:both;
}
.featuredBanner {
	background:none;
	border:none;
	margin:0 auto 0 auto;
}
.banner a {
	text-align:center;
	margin:0 auto;
}
.featuredBanner a, .featuredBanner a:visited {
	display:block;
	margin:0 0 5px 0;
}
.header .advertisement {
	margin:0;
	padding:10px 10px 0 10px;
	position:absolute;
	top:10px;
	right:10px;
	width:470px;
}
.sidebar .advertisement .advertisementLink {
	clear:both;
	display:block;
	float:none;
	text-align:right;
}
.bottomAdvertisement {
	margin:10px auto 10px auto;
	width:730px;
}
.sponsoredLink {
	display:block;
	margin:0 0 10px 0;
	padding:8px;
}
.sponsoredLink:hover {
	text-decoration:none;
}
.sponsoredLink .sponsoredLinkTitle {
	color:#C00;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	line-height:18px;
}
.sponsoredLink .sponsoredLinkContent {
	color:#666;
	font-size:11px;
	text-align:center;
	font-weight:normal;
	line-height:14px;
}
.sponsoredLink .sponsoredLinkURL {
	color:#a7000d;
	text-align:center;
	font-size:11px;
	line-height:18px;
}
.categories {
	padding:5px 10px 15px 10px;
	text-align:right;
}
.categories ul li {
	font-size:14px;
}
.categories ul li a {
	color:#414042;
}
.categories ul li ul {
	margin:5px 0 5px 15px;
}
.categories ul li ul li {
	font-size:12px;
	line-height:18px;
}
.categories ul li ul li a {
	color:#069;
}
.sidebar .categories h3 {
	font-size:16px;
	font-family:Century Gothic, Century, Arial, tahoma;
	letter-spacing:0;
	padding:0;
	line-height:26px;
	margin:2px 0;
}
.sidebar .categories h3 a {
	color:#FFF;
	padding:0 4px 0 0;
	background:url(http://ard.healingland.net/images/design/h3-bg.jpg) repeat 0 0;
	display:block;
	text-decoration:none;
}
.sidebar .categories h3:hover {
	text-decoration:none;
}
.sidebar .categories h3 a .complementaryInfo {
	font-size:10px;
	text-decoration:none;
	font-weight:normal;
	color:#333;
}
.sidebar .categories .categoriesColumn {
	float:none;
	padding:0;
	width:auto;
}
.mainContent .categories {
	height:100%;
	overflow:hidden;
}
.mainContent .categories h3 {
	font-size:14px;
	line-height:18px;
	padding:5px 0 0 0;
}
.mainContent .categories .categoriesColumn {
	float:left;
	padding:0 10px 10px 0;
	width:48%;
}
.mainContent .categories .categoriesRightColumn {
	padding-right:0;
}
.baseDynamicContent {
	padding:0 10px 0 10px;
}
.baseDynamicContent .standardTitle {
	margin-bottom:15px;
}
.dynamicContent {
	line-height:normal;
	text-align:right;
	padding:0 20px 0 0;
	font-size:16px;
	overflow-x:hidden;
}
.dynamicContent ul, .dynamicContent ol {
	list-style:disc inside;
	padding:0 0 15px 15px;
}
.dynamicContent ol {
	list-style-type:decimal;
}
.baseIconNavbar {
	border-bottom:1px solid #CCC;
	height:25px;
	margin-bottom:10px;
	position:relative;
}
.socialBookmarkIcons {
	float:left;
}
.socialBookmarkIcons li {
	float:left;
	padding:0 5px 0 0;
}
.iconNavbar {
	float:right;
	height:30px;
}
.iconNavbar li {
	color:#666;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:12px;
	height:14px;
	line-height:19px;
	padding:5px 2px 0 3px;
}
.summary .iconNavbar li {
	padding:0 2px 0 3px;
}
.iconNavbar li a, .iconNavbar li a:visited {
	color:#069;
}
.allSocial {
	background-color:#fcfcfc;
	border:2px solid #EEE;
	left:170px;
	margin-bottom:10px;
	padding:5px;
	position:absolute;
	top:25px;
	width:265px;
	z-index:999;
}
.allSocial * {
	margin:0;
	padding:0;
}
.allSocial table {
	width:100%;
}
.allSocial a {
	color:#414042;
	font-size:11px;
	font-weight:normal;
}
.allSocial .Close, .allSocial .Close:visited {
	background:#9d2727;
	border:1px dotted #C00;
	color:#FFF;
	padding:0 4px 0 4px;
}
.postDetail .allSocial {
	left:400px;
}
.checkPasswordStrength {
	height:25px;
	overflow:hidden;
	padding:5px 0 0 0;
}
.checkPasswordStrength span {
	display:block;
	float:left;
	margin:0 10px 0 0;
}
.checkPasswordStrength div {
	background:#eee;
	border:1px solid #d4d4d4;
	color:#333;
	float:left;
	font-size:11px;
	height:20px;
	line-height:20px;
	padding:0 0 0 50px;
	width:100px;
}
.checkPasswordStrength .strengthLoading {
	background:#eee url(http://ard.healingland.net/images/content/img_loading_bar.gif) no-repeat 3px 5px;
}
.checkPasswordStrength .strengthWeak {
	background:#f1f1f1 url(http://ard.healingland.net/images/design/bg_strength_weak.gif) no-repeat 3px 5px;
}
.checkPasswordStrength .strengthBad {
	background:#f3f3f3 url(http://ard.healingland.net/images/design/bg_strength_bad.gif) no-repeat 3px 5px;
}
.checkPasswordStrength .strengthGood {
	background:#f7f7f7 url(http://ard.healingland.net/images/design/bg_strength_good.gif) no-repeat 3px 5px;
}
.checkPasswordStrength .strengthStrong {
	background:#FFF url(http://ard.healingland.net/images/design/bg_strength_strong.gif) no-repeat 3px 5px;
}
.loading {
	background:#FFF url(http://ard.healingland.net/images/content/img_loading_bar.gif) no-repeat 10px center;
	border:1px solid #CCC;
	clear:both;
	color:#333;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin:10px 0 10px 20px;
	padding:10px 10px 10px 60px;
	width:747px;
}
.quickList {
	height:100%;
	overflow:hidden;
	padding:0 10px 15px 10px;
}
.quickList .featuredItems {
	float:left;
	padding:15px 18px 10px 0;
	position:relative;
}
.quickList .quickListRemove {
	padding:0 5px 0 0;
	float:left;
}
.quickList .featuredItems .quickListRemove {
	background:#FFF;
	left:1px;
	padding:2px;
	position:absolute;
	top:16px;
	z-index:1;
}
.quickListNumber {
	padding:3px;
	position:absolute;
	top:76px;
	right:16px;
	border:1px #eee solid;
	z-index:1;
}
.quickList .noimage {
	display:block;
}
.quickList h3 {
	clear:both;
	text-align:right;
	direction:ltr;
}
.quickList .featuredItems h3 {
	padding:5px 0 0 0;
}
.replyFormBlog {
	_margin-top:15px;
	float:left;
	clear:both;
}
.informationMessage, .errorMessage, .successMessage, .warningMessage {
	border:1px solid #CCC;
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
	margin:10px 0;
	overflow:hidden;
	padding:15px 55px 15px 15px;
	text-align:right;
}
.informationMessage {
	background:#f9fdff url(http://ard.healingland.net/images/design/bg_icon_information.gif) right 10px no-repeat;
	color:#135da2;
}
.informationMessage a, .informationMessage a:visited {
	color:#2e4e6b;
}
.errorMessage {
	background:#fff9f9 url(http://ard.healingland.net/images/design/bg_icon_error.gif) right 10px no-repeat;
	color:#c10924;
	border:1px solid #CCC;
}
.errorMessage a, .errorMessage a:visited {
	color:#c94601;
}
.successMessage {
	background:#f9fceb url(http://ard.healingland.net/images/design/bg_icon_success.gif) right 10px no-repeat;
	color:#692;
}
.successMessage a, .successMessage a:visited {
	color:#351;
}
.warningMessage {
	background:#fffcf4 url(http://ard.healingland.net/images/design/bg_icon_warning.gif) right 10px no-repeat;
	color:#F60;
}
.warningMessage a, .warningMessage a:visited {
	color:#F30;
}
.informationMessageShort td {
	width:auto;
}
.informationMessageShort td div {
	float:right;
	height:20px;
	margin:0 7px 0 11px;
	width:17px;
}
.informationMessageShort td div img {
	margin-top:3px;
}
.informationMessageShort td p {
	float:right;
	height:20px;
	width:550px;
	line-height:19px;
}
#TB_ajaxContent .informationMessage, #TB_ajaxContent .errorMessage, #TB_ajaxContent .successMessage, #TB_ajaxContent .warningMessage {
	height:auto;
	margin:10px 0 10px 0;
}
.standardForm {
	border:0;
	padding:5px 10px 5px 10px;
	text-align:right;
	width:90%;
}
.standardForm input, .standardForm textarea {
	font-size:14px;
	color:#1279d0;
	width:98%;
	margin:0 4px 0 0;
}
.standardForm .formCode {
	width:100px;
}
.standardForm th {
	font-size:16px;
	padding:0 10px 0 10px;
	text-align:right;
	border-bottom:dotted 1px #eee;
	vertical-align:top;
	width:auto;
}
.standardForm td {
	padding:0;
}
.standardForm .formCaptchaWarning {
	padding-right:20px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
.standardForm td table {
	width:96%;
}
.standardFormButton {
	width:100%;
	text-align:left;
}
.standardFormButton .standardButton {
	float:left;
}
.rating {
	float:right;
	font-size:13px;
}
.rating li {
	padding:0 3px 0 2px;
}
.rating .ratingStar {
	float:right;
	padding:2px 2px 0 0;
}
.rating .ratingStar img {
	padding:0 2px 0 0;
}
.rating .ratingReview {
	float:right;
}
.rating .ratingReview a, .rating .ratingReview a:visited {
	font-weight:normal;
}
.rating .ratingSeeComment, .rating .rateIt {
	clear:both;
	float:right;
	text-align:right;
	white-space:nowrap;
}
.rating .rateIt a, .rating .rateIt a:visited {
	color:#a7000d;
}
.rateItStars {
	font-size:14px;
	font-weight:bold;
	line-height:25px;
	margin:0 auto 0 auto;
	padding:0 0 10px 0;
	text-align:center;
	width:205px;
	direction: rtl;
}
.rateItStars span {
	clear:both;
	display:block;
}
.rateItStars img {
	padding:1px;
}
.rateForm {
	width:100%;
	direction:rtl;
}
.rateForm td {
	vertical-align:top;
}
.rateForm th {
	   background: none repeat scroll 0 0 #E9E9E9;
    line-height: 34px;
    width: 100px;
}
.rateForm input, .rateForm textarea {
	width:200px;
}
.rateForm .captcha {
	text-align:right;
}
.rateForm .formCaptchaWarning {
	float:left;
	font-size:11px;
}
#captchaimage {
	margin:0 10px 0 0;
}
.ratingButton {
	margin:0 auto 0 auto;
}
.baseRateComments {
	padding:0 0 10px 0;
}
.rateComments {
	border-bottom:1px solid #CCC;
	padding:10px;
	text-align:right;
}
.rateComments .highlightImage {
	width:60px;
	height:70px;
	float:right;
	margin-left:15px;
}
.rateComments .highlightImage img {
	float:right;
	padding:2px;
	border:1px #ccc dotted;
}
.rateComments h4 a {
	color:#004669;
	text-transform:uppercase;
}
.rateStars {
	padding:3px 0 3px 0;
}
.rateStars img {
	padding:0 2px 0 0;
}
.rateComments .review {
	color:#333;
	padding:5px 0 0 0;
}
.response {
	padding:5px 0 0 50px;
}
.response h4 {
	font-size:12px;
	font-weight:bold;
}
.response .review {
	color:#666;
	font-style:italic;
}
.sitemapList {
	padding:10px 0 0 0;
}
.sitemapList li {
	height:100%;
	overflow:hidden;
}
.sitemapList ul {
	margin:5px 0 5px 0;
}
.sitemapList ul li {
	float:left;
	font-size:11px;
	padding:0 5px 5px 0;
	width:48%;
}
.sitemapList .viewMore {
	border-top:1px solid #EEE;
	clear:both;
	float:none;
	width:auto;
}
.sitemapSection, .sitemapSection:visited {
	color:#333;
}
.resultsMap {
	background:url(http://ard.healingland.net/images/img_loading.gif) no-repeat scroll 50% 50% #f7f7f7;
	border:1px solid #ccc;
	height:250px;
	margin:5px 0 15px;
	width:718px;
}
.mainContentExtendedFaq {
	float:none;
	margin-bottom:15px;
	padding:0;
	width:auto;
}
.mainContentExtendedFaq .content {
	padding:10px;
}
.faqQuestion {
	padding:0 10px 15px 0;
}
.faqAnswers div {
	margin:5px 0;
	text-align:right;
	font-size:12pt;
	font-weight:bold;
	line-height:150%;
	text-align:justify;
	padding:4px 15px;
}
.paging {
	position:relative;
}
.paging p {
	background:url(http://ard.healingland.net/images/design/bg_paging.gif) repeat-x bottom left;
	padding:20px 10px 5px 5px;
	text-align:right;
}
.paging .pagingDropdown {
	font-size:11px;
	position:absolute;
	right:0;
	top:5px;
	float:left;
}
.paging .pagingDropdown select {
	border:1px solid #CCC;
	padding:3px;
}
.paging input {
	font-size:11px;
	height:12px;
	margin-right:3px;
	width:25px;
}
.paging button {
	border:0;
	background:url(http://ard.healingland.net/images/content/btn_GoTo.gif) no-repeat 0 0;
	color:#FFF;
	height:18px;
	width:20px;
}
.faqContent div {
	margin:10px 0;
}
.standardStep {
	padding:15px 0 20px 0;
	margin:0 auto 0 auto;
	overflow:hidden;
}
.standardStep li {
	background:url(http://ard.healingland.net/images/design/bg_stepInactive.gif) no-repeat right top;
	color:#999;
	float:right;
	font-size:16px;
	font-weight:bold;
	margin:0 20px 0 0;
	padding:10px 13px 10px 1px;
	border:solid red 0;
}
.standardStep li span {
	margin:0 0 0 12px;
}
.standardStep .stepActived {
	color:#414042;
}
.standardStep .stepActived span {
	color:#a7000d;
	margin:0 0 0 12px;
}
.stepActived {
	float:left;
}
.standardStep .standardStepAD {
	background:none;
	color:#666;
	padding-left:0;
}
.standardStep .standardStepAD span {
	color:#a7000d;
}
.sidebar .featuredBlog {
	overflow:hidden;
	padding-bottom:10px;
	_padding-bottom:20px;
	border-bottom:1px dotted #ccc;
	font-size:10px;
	margin-bottom:10px;
}
.sidebar .featuredBlog .imgDetail {
	border:1px solid #ccc;
	float:left;
	padding:2px;
	margin-right:4px;
	width:50px;
}
.relatedposts {
	margin-bottom:10px;
}
.relatedposts .Colist {
	height:100%;
	overflow:hidden;
	padding:5px 0;
	margin-bottom:5px;
	border-bottom:1px dotted #ccc;
}
.relatedposts .Colist .imgDetail {
	float:right;
	padding:2px;
	border:1px solid #ccc;
	margin:0 5px;
}
.relatedposts .Colist h3 {
	font-size:14px;
}
.featuredBlog .imgDetail img, .Colist .imgDetail img {
	border:none;
	padding:0;
}
.detailRatings .rateComments {
	height:100%;
	overflow:hidden;
	padding:5px 0;
	margin-bottom:5px;
	border-bottom:1px solid #ccc;
	clear:both;
}
.detailRatings .rateComments .featuredSocial {
	width:60px;
	text-align:center;
	float:left;
	padding:2px;
	border:1px solid #ccc;
	margin:0 5px 10px 0;
}
.detailRatings .rateComments .review {
	margin-bottom:15px;
}
.detailRatings .rateComments h3 {
	font-size:14px;
}
.detailRatings .rateComments .Sub {
	border-top:1px dotted #ddd;
	margin:0 0 10px 20px;
	clear:both;
	overflow:hidden;
	padding-top:5px;
}
.detailRatings .rateComments .Item {
	margin:0;
	border:none;
	padding-bottom:5px;
	overflow:hidden;
}
.detailRatings .rateComments .standardButton {
	float:left;
	margin-right:5px;
}
.postDetail .detailBlogContent {
	margin-top:15px;
}
.detailBlogContent {
	width:auto;
	padding:5px;
	margin:0 10px 10px 0;
	float:left;
}
.detailBlogContent #imgThumb {
	padding:2px;
	border:1px dotted #ccc;
	margin:0;
	float:left;
}
.imgThumb {
	margin:0 10px 5px 0;
	padding:2px;
	border:1px dotted #ccc;
	float:left;
}
.sidebar .featuredSocial {
	float:left;
	height:90px;
	text-align:center;
	margin-left:1px;
	padding:5px;
	_padding:2px;
	width:97px;
}
.sidebar .featuredSocial img {
	border:1px dotted #ccc;
	padding:2px;
}
.featuredSocial a
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;}
.postDetail {
	height:100%;
	margin-bottom:25px;
	clear:both;
	text-align:right;
	position:relative;
}
.postDetail p {
	text-align:justify;
	font-size:17px;
	line-height:25px;
	font-family:none;
	margin:10px;
	font-weight:bold;
}
.postDetail h2 {
	text-align:center;
	font-size:22px;
	margin:10px;
	color:#158fbc;
}
.postDetail .readMore {
	padding:5px 0;
	clear:both;
	border-bottom:1px solid #eee;
}
h4.imgInfo {
	color:#069;
	text-transform:uppercase;
}
p.imgInfo {
	color:#666;
	clear:both;
	font-size:11px;
}
.detailSpacer {
	margin:15px 0 0 0;
	text-align:justify;
	font-size:18px;
}
.postDetail ol li, .detailSpacer ol li {
	list-style:inside decimal;
	margin-bottom:5px;
}
.postDetail ul li, .detailSpacer ul li {
	list-style:inside disc;
	margin-bottom:5px;
}
.postDetail ol, .postDetail ul, .detailSpacer ol, .detailSpacer ul {
	margin-bottom:10px;
}
.NextPrev {
	height:100%;
	padding:5px;
	border:1px #eee solid;
	overflow:hidden;
}
.NextPrev a {
	background:#f6f6f6;
	padding:5px;
	display:block;
	border:1px #eee dotted;
}
.NextPrev a.LinkL {
	float:left;
}
.NextPrev a.LinkR {
	float:right;
}
.pagNav {
	padding:5px;
	border:1px #eee solid;
	height:28px;
	clear:both;
	overflow:hidden;
}
.pagNav span {
	width:20px;
	text-align:center;
	float:right;
	padding:5px;
	margin-right:5px;
	display:block;
*float:none;
*display:inline-block;
	color:#666;
	font-weight:bold;
	font-size:11px;
	border:1px #eee dotted;
}
.pagNav a {
	width:20px;
	text-align:center;
	background:#f6f6f6;
	padding:5px;
	display:block;
	float:left;
*float:none;
*display:inline-block;
	margin-right:5px;
	border:1px #eee dotted;
}
p.complementaryInfoBlog {
	float:right;
	font-size:11px;
	margin:0 12px 0 0;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
}
.viewComment a {
	background:url(http://ard.healingland.net/images/bt_reply.gif) no-repeat 6px center;
	padding:0 4px 0 25px;
	font-family:Tahoma, Geneva, sans-serif;
}
.postDetail {
	background-color:#effeee;
}
.postDetail h2 {
	margin-bottom:10px;
	text-align:right;
	line-height:24px;
}
.standardForm th.TxLeft {
	text-align:left;
	height:40px;
}
.standardForm th.TxLeft img {
	margin-bottom:-10px;
}
.infoComment {
	font-size:14px;
	font-weight:bold;
	height:10px;
	clear:both;
	margin-bottom:15px;
}
.postDetail .complementaryInfo {
	clear:both;
}
.iconNavbar li {
	list-style:none!important;
}
ol {
	margin:0 19px 0 0;
}
.baseIconNavbar .badge {
	border:solid red 0;
	float:left;
	position:relative;
	top:-43px;
	top:-37px\0/;
	left:115px;
}
*+html .baseIconNavbar .badge {
	top:-33px;
}
.memberSocial {
	height:275px;
}
.shot-cut {
	float:left;
	margin:0;
	padding:0;
	width:100%;
}
.shot-cut li {
	float:right;
	padding:0 1px 0 0;
}
.help {
	clear:both;
	right:auto;
	position:absolute;
	float:left;
	top:280px;
	z-index:1000;
	text-align:left;
	width:37px;
	margin-right:945px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
div.help {
left:auto;
margin-left:-30px;
overflow:hidden;
}
}
#example2 {
	width:210px;
	height:127px;
	float:left;
	background:#ae3e3e;
	color:#fff;
	margin:-160px 0 0 27px;
}
#example2 ul {
	padding:0;
}
.help img {
	float:left;
	cursor:pointer;
}
.social-link {
	 
margin: 24px 0 0 2px;
width: 232px;
clear: left;
float: left;
padding: 30px 30px 0 0;
background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -824px -8px transparent;

}
.social-link li {
	float:right;
	margin:0 16px 0 7px;
	height:34px;
	width:34px;
}
.social-link li a img:hover {
	margin:2px 0 0 0;
}
input:focus, .input-form-account:focus {
	border-color:#b63333 #b63333 #b63333 #b63333;
	border-style:dotted;
	border-width:1px;
}
#page_container {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:964px;
	top:0;
}
hr#header_stripe {
	height:1px;
	position:absolute;
	top:-10px;
	background-color:#1591bd;
	border:none;
	color:#191919;
	overflow:hidden;
	width:10px;
}
.panel_button {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:0;
	width:304px;
	height:40px;
	z-index:20;
	cursor:pointer;
}
.panel_button img {
	position:relative;
	border:none;
}
.panel_button a {
	position:relative;
}
.panel_button a:hover {
	color:#999;
}
#toppanel {
	position:absolute;
	width:964px;
	left:0;
	z-index:1000;
	text-align:center;
}
#panel {
	width:700px;
	position:relative;
	top:1px;
	margin-left:auto;
	margin-right:auto;
	z-index:1000;
	overflow:hidden;
	text-align:left;
}
#panel_contents {
	background:#1691bd;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	-khtml-opacity:.70;
	opacity:.70;
	height:100%;
	width:700px;
	position:absolute;
	overflow:visible;
	z-index:-22222;
}
.border {
	border:15px #1d1d1d solid;
}
div#face2 {
	border:5px #ddd solid;
	position:absolute;
	top:10px;
	float:left;
	margin-left:30px;
 
 
	z-index:30;
	 
}
div#login {
	width:260px;
	height:150px;
	position:absolute;
	right:30px;
	top:10px;
	background:#fff;
	text-align:left;
	padding-left:10px;
	border:5px #ddd solid;
}
div#or {
	width:29px;
	height:160px;
	position:absolute;
	right:344px;
	top:10px;
	background:url(http://ard.healingland.net/images/or.png) no-repeat top center;
}
.map-details {
	font-family:tahoma;
	text-align:center;
}
.marquee {
	background:url(http://ard.healingland.net/images/main-sponser.png) top center no-repeat;
	clear:both;
	margin:0 10px;
	overflow:hidden;
	padding:36px 0 0 0;
	height:100px;
}
.marquee marquee {
	border-right:solid #fff 10px;
	border-left:solid #fff 10px;
}
.marquee ul li {
	float:left;
	border-right:dotted #c0c0c0 1px;
	padding:0 30px 0 0;
	margin:4px 15px;
}
#do-you-know {
	width:240px;
	height:132px;
	margin:0 1px 0 0;
	background:url(http://ard.healingland.net/images/design/know.jpg) top center no-repeat;
}
#do-you-know iframe {
	border:solid red 0;
	width:140px;
	height:100px;
	margin:22px 0 0 95px;
}
.prom-like {
	border:solid red 0;
	width:120px;
	z-index:100px;
	position:absolute;
	text-align:left;
	margin:-91px 0 0 18px;
}
.articleDetail ul {
	list-style:circle;
	margin:0 30px 0 0;
}
#LO h3.standardSubTitle {
	margin:0;
	font-size:14;
	font-style:normal;
	border:none;
	padding:2px 20px 0 0;
}
#LO .locations h3.standardSubTitle {
	font-size:12px;
	font-weight:normal;
	background:#f5f5f5;
	font-family:Tahoma, Geneva, sans-serif;
	padding:0 15px 0 0;
	margin:0 20px 0 10px;
	border-bottom:dotted 1px #9f9f9f;
}
#example2 h1 {
	line-height:14px;
	text-align:right;
	margin:0 4px 4px 0;
	cursor:pointer;
	color:#fff;
}
#example2 ul {
	text-align:right;
	margin:4px 4px 0 0;
	color:#fff;
	padding:0;
}
#example2 ul li img {
	clear:both;
	float:right;
	text-align:right;
}
a.rightArrow, a.leftArrow {
	background:#FFF url(http://ard.healingland.net/images/design/leftarrow.png) left 50% no-repeat;
	padding:0 0 0 20px;
	color:#900;
}
a.leftArrow {
	background:#FFF url(http://ard.healingland.net/images/design/rightarrow.png) right 50% no-repeat;
	padding:0 20px 0 0;
}
ul.rating, ul.socialBookmarkIcons {
	list-style:none;
}
.noimage {
	background:#FFF url(http://ard.healingland.net/images/design/bg_noimage.png) 50% 50% no-repeat;
	border:1px solid #EEE;
}
.noimage:hover {
	text-decoration:none;
}
.gmnoprint {
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	direction:rtl;
}
.complementaryInfo strong {
	color:#b50000;
 
}
.rssResults {
	padding:0 0 0 22px;
}
.non-bg #panel_contents {
	background:none;
}
.non-bg h2 {
	float:right;
	padding:0 220px 0 10px;
	font-weight:normal;
	color:#fff;
}
.member-menu {
	font-size:14px;
	height:42px;
	margin:0 auto;
	position:relative;
	width:915px;
}
.member-menu li {
	height:22px;
	margin:19px 0 0;
	line-height:14px;
}
.forgotPassword a {
	color:#333;
	padding:0 4px 0 0;
}

.yastag
{
	line-height:0.1;
	text-indent:-99999px;
	height:0.1px;
	overflow:hidden}
p.review
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;}

p.complementaryInfo strong a
{
	float:right;
	padding:0 0 0 10px;}
	
	.popupWrapper
	{ margin: 0 auto;
    text-align: center;
	
	}
	
	.galleryNavigation
	{
		margin:7px auto}
		
		
		.galleryBody
		{
			width:100%;
			background:#fff;}
			
			
			
			
			.newsletter
{ background: url(http://ard.healingland.net/images/newsletter-bg.jpg);
width:199px;
height:140px;
padding:50px 8px 0 8px;

font-family:Tahoma, Geneva, sans-serif;
text-align:right;
}

.trans
{
white-space:nowrap;
background:url(http://ard.healingland.net/images/design/trans.png);
font-size:12px;
text-align:right;
padding:0 4px 0 4px;
	 }
	 
	 
	  .btn-newsletter input
	 { 
		 background:url(http://ard.healingland.net/images/btn-newsletter.png) 0 -4px  transparent;
		 width:115px;
		 border:none;
		 height:36px;}
		 
		 .featuredArticleImage img
		 {
			 max-height:76px}
			 
			 
			 
			 
			 
			 
			 #jordan-doctors, #special-doctors, #medical-discount,#feat-class,#feat-art,#feat-rev
			 {
				  background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -10px 0 transparent;
 
    margin: 0;
    overflow: hidden;
    padding: 0;
	height:29px;
    text-indent: -9999px;
    width: 154px;}
	
	#special-doctors{ background-position: -198px 0;
   
    width: 216px;
		}
		
		#medical-discount
		{ background-position: -436px 0;
     
    width: 157px;
		}
		
		#feat-class
		{background-position: -642px 0;
        width: 157px;}
		
		
		#feat-art
		{background-position: -14px -44px;

width: 168px;}
#feat-rev
		{background-position: -209px -46px;
 
width: 224px;}
.my-fav
{
	width: 211px;
height: 49px;
display: block;
 
background: url("http://ard.healingland.net/images/design/all.png") repeat scroll -532px -48px transparent;
clear: both;
margin: 0 6px 0 0;
}

.faqAnswers h3
{


	background: url("http://ard.healingland.net/images/design/q.png") no-repeat scroll right 0 transparent;
	padding:0 70px 0 0}
	
	.faqAnswers p
	{background: url("http://ard.healingland.net/images/design/answer.png") no-repeat scroll right 10px #f5f5f5;
	padding:10px 70px 10px 10px; }