/*
 * CataBlog StyleSheet, version 1.2.5
 */


/* Default and Subimages Template CSS Classes */
.catablog-row {
	position: relative;
	display: block;
	float: none;
	margin: 0;
	padding: 5px 5px 15px 5px;
}
.catablog-row .catablog-images-column {
	float: left;
	position: relative;
}
.catablog-row img.catablog-image,
.catablog-row .catablog-image img {
	display: block;
	height: auto;
	float: left;
}
.catablog-row .catablog-images-column .catablog-image img {
	float: none;
}
.catablog-row .catablog-image.catablog-subimage {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
	border: 0 none;
	
}
.catablog-row .catablog-image.catablog-subimage img {
	width: 100% !important;
}
.catablog-row .catablog-title {
	display: block;
	font-size: 1.4em;
	font-weight: bold;
	clear: none;
	float: none;
}
.catablog-row .catablog-description {
	display: block;
	clear: none;
	float: none;
}
.catablog-row .catablog-description:after {
	content: ".";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}


/* Grid and Gallery Template CSS Classes */
.catablog-gallery.catablog-row {
	display: block;
	position: relative;
	float: left;
	padding: 0;
	margin: 5px;
}
.catablog-gallery.catablog-row .catablog-image {
	display: block;
	float: none;
	position: static;
}
.catablog-gallery.catablog-row .catablog-image img {
	float: none;
}
.catablog-gallery.catablog-row:hover .catablog-title {
	display: block;
}
.catablog-gallery.catablog-row .catablog-title {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #fff;
	background: #222;
	opacity: 0.8;
	margin: 0 !important;
	padding: 5px;
	font-weight: normal;
	font-size: 1em;
}
.catablog-gallery.catablog-row .catablog-description {
	display: none;
	margin: 0 !important;
}


/* Single and Archive view classes */



.catablog-credits {
	display: block;
	clear: both;
	overflow: hidden;
	height: 0px !important;
	padding: 0px !important;
	margin: 0 0 1em 0 !important;
}






/* Deprecated CSS Classes (You Should NOT USE or depend on these Classes)*/
.catablog-image.catablog-lightbox,
.catablog-subimage.catablog-lightbox {
	cursor: pointer;
}
.catablog-image.catablog-lightbox:hover {
	border-color: red;
}
.catablog-selected {
	
}



/* LightBox CSS Classes */
#catablog-curtain {
	display: block;
	position: absolute;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 10000;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
#catablog-lightbox {
	display: none;
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0px;
	z-index: 10200;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
#catablog-lightbox #catablog-whiteboard {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px #000 solid;
	border-width: 0 1px 2px 0;
}
#catablog-lightbox #catablog-whiteboard.loading {
	background-image: url('./../images/ajax-loader.gif');
}
#catablog-lightbox-meta {
	position: relative;
	display: none;
	padding: 0.5em 0;
}
#catablog-lightbox-meta .catablog-lightbox-title {
	font-size: 14px;
	font-weight: bold;
	-moz-user-select: normal;
	-khtml-user-select: normal;
	user-select: normal;
}
#catablog-lightbox-meta .catablog-lightbox-desc {
	position: relative;
	line-height: 1.5;
	-moz-user-select: normal;
	-khtml-user-select: normal;
	user-select: normal;
	
}
#catablog-lightbox-image {
	position: relative;
	display: none;
}
#catablog-lightbox-image a {
	display: block;
	position: absolute;
	top: 0px;
	width: 50%;
	text-decoration: none;
	background: transparent;
	background-image: url("./../images/blank.gif");
}
#catablog-lightbox-image a span {
	display: none;
}
#catablog-lightbox-image a span:first-letter {
	border-bottom: 1px #caa solid;
}
#catablog-lightbox-next:hover span,
#catablog-lightbox-prev:hover span,
#catablog-lightbox-next:focus span,
#catablog-lightbox-prev:focus span {
	display: block;
}
#catablog-lightbox-next {
	right: 0px;
	outline: 0 none;
	border: 0 none;
}
#catablog-lightbox-prev {
	left: 0px;
	outline: 0 none;
	border: 0 none;
}
#catablog-lightbox-close {
	display: block;
	display: none;
	position: absolute;
	top: -14px;
	right: -14px;
	width: 48px;
	height: 48px;
	background-image: url("./../images/close-lightbox.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	outline: 0 none;
	border: 0 none;
}
#catablog-lightbox-next .catablog-lightbox-nav-label {
	right: 0px;
	bottom: 20px;
	padding-left: 30px;
	-moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	border-radius: 30px 0 0 30px;
}
#catablog-lightbox-prev .catablog-lightbox-nav-label {
	left: 0px;
	top: 20px;
	padding-right: 30px;
	-moz-border-radius: 0 30px 30px 0;
	-webkit-border-radius: 0 30px 30px 0;
	border-radius: 0 30px 30px 0;
}
.catablog-lightbox-nav-label {
	display: none;
	display: block;
	position: absolute;
	background: #fff;
	color: #555;
	padding: 15px;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none;
	cursor: pointer;
}
.catablog-lightbox-nav-label:hover {
	
}