@import "~variables";
@import "~helpers";
@import "~skin-flat";
@import "fonts/rgx-1.0/style";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror";
@import "~components/banner";
@import "~components/h-tabbed-pannel";
@import "~components/editor";
@import "~components/highlighted-input";
@import "~components/color-scheme-switcher";
@import "~components/flag-picker";
@import "~components/checkbox";

.app-container {
  width: @content-width;
  margin: 0 auto;
  margin-top: @content-top-offset;
}