@import "~variables";

body {
  background: @bg;
  color: @fg;
  font-family: @font;
  font-size: @font-size;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: @link-fg;

  &:hover {
    text-decoration: underline;
  }

  &.active, &:focus {
    color: @link-focus;
  }

  &.active {
    font-weight: bold;
  }
}

button, .btn {
  padding: @whitespace/2;
  line-height: inherit;
  background: #333;
  box-shadow: 0 0 0 1px #323232 inset;
  border: 1px solid #3d3d3d;
  border-radius: 1px;
  color: inherit;
  cursor: pointer;
  // min-width: 32px;

  &:hover, &:focus {
    background: #3d3d3d;
    box-shadow: none;
  }

  &:active, &.active {
    box-shadow: none;
    // border: none;
    outline: 1px solid #444;
    // border-style: ridge;
  }

  &.a11y-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: inherit;
    height: auto;
    line-height: inherit;
    padding: 0;
    margin: 0;
    text-align: left;

    &:hover {
      color: @hover-fg;
      cursor: pointer;
    }
  }
}

.a11y-btn:focus, .a11y-btn.active, .active .a11y-btn {
  color: @active-fg;
  outline: none;
}

:disabled, [disabled] {
  pointer-events: none;
  cursor: default;
}

.form-input {
  display: block;
  line-height: 30px;
  padding: @whitespace / 2;
  font-family: inherit;
  border-style: inset;
  border-width: 2px;
  border-color: @border-bg;
  color: inherit;
  background: transparent;
  margin: @whitespace 0;
  width: 100%;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.form-label {
  display: block;
  margin: @whitespace 0;

  &__caption {
    font-weight: bold;
    display: block;
    margin: @whitespace 0;
  }
}

// .font-bitmap {
//   font-family: "visitor_tt1_brkregular";
//   font-size: 18px;
// }