@import "~variables";
@import "./css/skin-8bit";
@import "~codemirror/lib/codemirror.css";
// @import "~codemirror/theme/neo.css";

.highlighted-input {
  &__match {
    background: brown;
  }

  &__capture {
    background: @green;
  }

  .CodeMirror {
    height: auto;
  }
}