/*
 ** style in home page
*/
/*************signup block in home page*************/
.signUpCont{
background:url(../images/signup.png) #fff 0 bottom no-repeat;
width:690px;
height:420px;
color:#545456;
overflow:hidden
}
.signUpCont h2{
font-size:45px;
line-height:45px;
padding:28px 0
}
.signUpCont h2,.signUpCont ul,.signUpCont button{margin-left:25px}
.signUpCont ul{overflow:hidden}
.signUpCont li{
font-size:21px;
margin-bottom:10px;
line-height:27px;
clear:both;
overflow:hidden
}
.signUpCont .signUpDesc{width:385px}
.signUpCont li strong{color:#fcb542}
.signUpCont button,.blog a,.feedback button{
width:212px;
height:44px;
border:1px solid #c78f34 ;
text-align:center;
font-weight:bold;
font-size:27px;
background-color:#fcb542;
-moz-box-shadow: 0 22px 5px #fcc771 inset;
-webkit-box-shadow: 0 22px 5px #fcc771 inset;
box-shadow: 0 22px 5px #fcc771 inset;
-webkit-appearance: none;
}
.redIcon,.orangeIcon,.greenIcon{ /**********red,orange and green bullets****************/
width:18px;
height:18px;
margin:5px 8px 0 0 
}
.redIcon{
background-position:0 -200px
}
.orangeIcon{
background-position:-19px -200px
}
.greenIcon{
background-position:-38px -200px
}
.feedback button{
width:189px;
height:39px;
font-size:18px;
font-weight:bold
}
.blog{margin:20px 0 10px}
.blog a{
display:block;
width:220px;
height:48px;
font-size:15px;
font-weight:bold;
color:#fff;
line-height:46px;
-moz-box-shadow: 0 26px 5px #fcc771 inset;
-webkit-box-shadow: 0 26px 5px #fcc771 inset;
box-shadow: 0 26px 5px #fcc771 inset;
-webkit-appearance: none;
}
/******************hotstaff area************************/
.hotStaff {overflow:hidden}
.hotStaff h2{
height:42px;
background-color:#488a9a;
font-size:24px;
font-weight:bold;
-moz-border-radius:5px 0 5px 0;
-webkit-border:5px 0 5px 0;
border-radius:5px 0 5px 0;
margin:20px 0 10px;
line-height:40px
}
.hotStaff  span{padding-left:12px}
.hotStaff li{
float:left;
position:relative;
width:220px;
height:192px;
-moz-border-radius:5px;
-webkit-border:5px;
border-radius:5px;
margin:0 14px 14px 0;
}
.hotStaff img{border:0}
.hotStaff li.last{margin-right:0}
.staffDesc{
background-color:#fff;
bottom:14px;
left:0;
position:absolute;
font-size:15px;
height:43px;
width:202px;
padding:7px 9px 0;
line-height:18px
}
.hotStaff li a{color:#545456}
/****************sprite images contains the big iconns for hotstaff********************/
.bigIcon{
background-image:url(../images/bigIcons.png);
background-position:no-repeat;
width:72px;
height:70px;
position:absolute;
bottom:48px;
left:0
}
.food{background-position:0 0}
.enter{background-position:0 -72px}
.run{background-position:0 -146px}
.elect{background-position:0 -296px}
.others{background-position:0 -221px}
.tweetIcon,.fbIcon,.jeeranIcon{
width:45px;
height:44px;
display:block;
margin-right:8px
}
/*************social network links******************************/
.otherLinks {
background-color:#fff;
color:#545456;
height:60px;
overflow:hidden;
border:1px solid #c1c1c1;
margin-top:20px
}
.otherLinks a{color:#545456}
.otherLinks li{float:left}
.otherLinks h2,.otherLinks ul,.otherLinks a ,.otherLinks span{float:left}
.otherLinks h2{
font-size: 16px;
line-height: 20px;
margin: 10px 15px 0;
width: 212px
}
.otherLinks .hotDesc{
width:90px;
margin-top:3px;
font-weight:bold;
font-size:16px;
line-height:17px;
}
.otherLinks ul{width:445px;_width:440px;margin-top:9px}
.otherLinks li{width:145px}
.tweetIcon{background-position:0 -62px}
.fbIcon{background-position:0 -108px}
.jeeranIcon{background-position:0 -154px}