.restTitle{
height:100px;
-moz-border-radius:5px 5px  0 0;
-webkit-border--radius:5px 5px  0 0;
border-radius:5px 5px  0 0;
position:relative
}
.container .text{
background-color:#000;
-moz-border-radius: 0 0 5px 5px;
-webkit-border--radius: 0 0 5px 5px;
border-radius:  0 0 5px 5px;
width:90px;
height:23px;
font-size:15px;
font-style:italic;
position:absolute;
top:0;
right:20px;
color:#fff;
text-align:center !important;
line-height:19px
}
.restWrapp{padding:0 20px;overflow:hidden;_height:100%}
.container {_width:690px}
.rRest{width:191px;float:right !important}
.lRest{width:438px;float:left !important}
.greenTitle{
height:35px;
background-color:#00a95d;
border-bottom:1px solid #cceedf;
-moz-border-radius: 0 0 5px 5px;
-webkit-border--radius: 0 0 5px 5px;
border-radius:  0 0 5px 5px;
text-align:center !important;
color:#fff;
font-size:14px;
line-height:32px 
}
.container h1{
line-height:32px;
font-size:28px;
font-weight:normal;
margin:22px 0
}
.tweet{margin-top:4px}
.full_details{
border:2px solid #c7c7c7;
-moz-border-radius:5px;
-webkit-border--radius:5px;
border-radius:5px;
overflow:hidden;
margin:32px 0 7px;
padding:17px 13px 35px
}
.full_details h2{
font-size:30px;
color:#00a95d;
line-height:25px
}
.full_details h3{
font-size:14px;
font-style:italic;
color:#545456;
font-weight:normal;
margin:8px 0 16px
}
.selectCont{
height:40px;
color:#545456;
background-color:#e9e9e9;
-moz-border-radius:5px 0 5px 0;
-webkit-border--radius:5px 0 5px 0;
border-radius:5px 0 5px 0;
}
.selectCont select{margin-top:9px}
.selectCont span{font-size:17px;margin:14px 10px 0 20px}
.selectCont select{
font-size:15px;
border:1px solid #ccc;
color:#545456;
width:173px;
height:23px
}
.menuOrder{
font-size:17px;
min-height:34px;
color:#fff;
padding:0 20px;
line-height:33px;
background-color:#a2260a;
-moz-border-radius:5px 0 5px 0;
-webkit-border--radius:5px 0 5px 0;
border-radius:5px 0 5px 0;
margin-top:10px
}
.full_details ul{
margin-top:20px;
}
.full_details ul li{
padding-bottom:20px;
margin-bottom:20px;
border-bottom:1px solid #e9e9e9;
padding-left:12px;
overflow:hidden
}
.leftOrder{width:30px}
.leftOrder span{
display:block;
width:30px;
height:30px;
background-color:#fcb542;
text-align:center !important;
-moz-border-radius:15px;
-webkit-border--radius:15px;
border-radius:15px;
line-height:28px;
color:#fff;
font-size:15px;
font-weight:bold
}
.rightOrder{width:358px}
.leftOrder div{
background-position:0 -220px;
width:27px;
height:24px;
margin:10px 2px 0 2px 
}
.leftOrder a{
font-size:7px;
display:block;
text-align:center !important;
}
.rightOrder h5{
font-size:17px;
color:#545456;
margin:8px 0 17px
}
.rightOrder p{
font-size:15px;
color:#868686;
line-height:19px;
padding-bottom:14px
}
.rightOrder .price{
width:102px;
height:25px;
background-color:#e9e9e9;
border:1px solid #c7c7c7;
-moz-border-radius:5px;
-webkit-border--radius:5px;
border-radius:5px;
font-weight:bold;
font-size:17px;
color:#488a9a;
text-align:center !important;
line-height:25px
}
.orderNo button,.orderNo input{display:block;float:right}
.orderNo input{
width:40px;
height:25px;
color:#545456;
text-align:center !important;
font-size:17px;
margin:0 7px;
background-color:#eee;
line-height:25px;
border:1px solid #d5d5d5;
-moz-border-radius:5px;
-webkit-border--radius:5px;
border-radius:5px;
}
.orderNo button{
width:14px;
height:14px;
margin-top:7px;
border:0
}
.plus_icon{background-position:-42px -224px	}
.min_icon{background-position:-39px -245px}
.rightOrder .addOrder{
width:102px;
height:25px;
border:1px solid #c08931 ;
text-align:center !important;
font-weight:bold;
font-size:14px;
-moz-border-radius:5px;
-webkit-border--radius:5px;
border-radius:5px;
background-color:#fcb542;
-moz-box-shadow: 0 12px 5px #fcc367 inset;
-webkit-box-shadow: 0 12px 5px #fcc367 inset;
box-shadow: 0 12px 5px #fcc367 inset;
-webkit-appearance: none;
margin-left:12px
}
.customize_order{padding-top:20px}
.customize_order strong{
display:block;
margin-bottom:20px
}
.full_details .customize_order ul{margin-top:10px}
.full_details .customize_order li{
padding-bottom:0;
margin-bottom:0;
border-bottom:none;
padding-left:0;
overflow:hidden;
*overflow:visible;
display:inline-block;
*float:left;
font-size:15px;
color:#545456;
margin:0 30px 12px 0 
}
.orderTitle{
font-size:15px;
color:#fcb542;
clear:both
}
.full_details .customize_order li div{
font-size:13px;
color:#488a9a;
font-style:italic
}
/***********pager*********/
.full_details .pager li{
padding-bottom:0;
margin-bottom:0;
border-bottom:none;
padding-left:0;
overflow:hidden;
display:inline-block;
*float:left;
color:#fff;
text-align:center !important;
background-color:#488a9a;
-moz-border-radius:5px;
-webkit-border--radius:5px;
border-radius:5px;
font-size:14px;
font-weight:bold;
margin-right:6px;
margin-right:5px \9;
height:23px;
line-height:21px;
-moz-box-shadow: 0 12px 5px #6ca1ae inset;
-webkit-box-shadow: 0 12px 5px #6ca1ae inset;
box-shadow: 0 12px 5px #6ca1ae inset;
-webkit-appearance: none;
}
.full_details .pager li a{color:#fff;display:block;overflow:hidden;padding:0 8px;}
.full_details .pager li a:hover{text-decoration:none}
.full_details .pager li.disable{
border:1px solid #787878;
background-color:#a7a7a7;
padding:0 8px;
-moz-box-shadow: 0 12px 5px #b8b8b8 inset;
-webkit-box-shadow: 0 12px 5px #b8b8b8 inset;
box-shadow: 0 12px 5px #b8b8b8 inset;
-webkit-appearance: none;
}
.full_details .pager li.etc{
background-color:transparent;
color:#a7a7a7;
-moz-box-shadow: none ;
-webkit-box-shadow:none;
box-shadow: none;
-webkit-appearance: none;
}
.full_details .pager li.back,.full_details .pager li.next ,.full_details .pager li.first ,.full_details .pager li.last{height:25px}
.full_details .pager li.back,.full_details .pager li.next{width:31px;padding:0}
.full_details .pager li.back a,.full_details .pager li.next a{height:25px}
.full_details .pager li.first ,.full_details .pager li.last{width:58px;padding:0;line-height:23px}
.full_details .pager li.back span{
background-position:-46px -169px ;
width:8px;
height:12px;
display:inline-block;
margin-top:5px
}
.full_details .pager li.next span{
background-position:-46px -184px ;
width:8px;
height:12px;
display:inline-block;
margin-top:5px
}
.full_details .pager li.last{margin-right:0}
/************pager************/
.disMenu{
display:block;
background-position:-27px -221px;
width:14px;
height:16px;
margin-right:6px
}
.adKiller{margin:19px 0;text-align:right}
.adKiller img{margin-bottom:2px;border:0}
.adKiller a{font-size:13px}
.rest_options{
background-color:#e9e9e9;
-moz-border-radius:5px;
-webkit-border--radius:5px;
border-radius:5px;
text-align:center !important;
padding:23px 0 9px
}
.rest_options li{
clear:both;
margin-bottom:14px;
overflow:hidden;
font-size:13px
}
.print{
display:block;
background-position:0 -246px;
width:16px;
height:15px;
margin:0 8px 0 20px
}
.download{
display:block;
background-position:-18px -247px;
width:15px;
height:16px;
margin:0 8px 0 20px
}
.myOrder{
background-color:#e9e9e9;
margin-top:20px;
-moz-border-radius:5px;
-webkit-border--radius:5px;
border-radius:5px;
overflow:hidden;
font-size:13px
}
.myOrder .myTitle{
-moz-border-radius:5px 5px 0 0 ;
-webkit-border--radius:5px 5px 0 0 ;
border-radius:5px 5px 0 0 ;
font-size:17px;
color:#fff;
height:30px;
padding-left:13px;
line-height:28px;
background-color:#535455;
}
.myCont{padding:14px 10px 14px 14px}
.myCont .myNo{
display:block;
width:19px;
height:18px;
text-align:center !important;
border:1px solid #cfcfcf;
background-color:#fff;
line-height:16px;
color: #545456;
}
.myDet{width:140px;padding-bottom:10px}
.myDet p{
font-style:italic;
margin:8px 0;
line-height:15px
}
.myPrice{
font-weight:bold;
color:#67913e;
padding-bottom:8px
}
.myLinks{color:#488a9a}
.mytotal{
font-size:15px;
font-weight:bold;
color:#67913e
}
.mytotal span{color:#535455}
.myCont button{
width:162px;
height:32px;
border:1px solid #922934;
text-align:center !important;
margin-top:17px;
-moz-border-radius:5px;
-webkit-border--radius:5px;
border-radius:5px;
-moz-box-shadow: 0 15px 5px #c55e68 inset;
-webkit-box-shadow: 0 15px 5px #c55e68 inset;
box-shadow: 0 12px 5px #c55e68 inset;
-webkit-appearance: none;
background-color:#b5313e;
font-size:15px;
font-weight:bold
}
.myOther{
clear:both;
border-top:1px solid #fff;
padding-top:18px;
text-align:center !important
}
.rest_image{
width:349px;
height:105px;
margin-top:20px
}
.restDesc{
width:233px;
padding-top:25px;
font-size:13px;
line-height:17px
}
.restDesc div  {margin-top:12px}
.restDesc div a{color:#f09522}
/************useerlogged block in header*************/
.user_logged{
-moz-border-radius:7px;
-webkit-border--radius:7px;
border-radius:7px;
border:1px solid #cfcfcf;
width:343px;
height:70px;
background:url(../images/rest_header.png) #fff right bottom no-repeat;
padding:12px 0 11px 17px;
margin-top:25px
}
.helloTitle{
font-weight:bold;
font-size:15px;
color:#fcb542
}
.bag_det{ 
font-size:14px;
color:#545456;
margin:10px 0
}
.bagSep{padding:0 20px}
.user_logged button{
border:1px solid #305f6a;
-moz-border-radius:5px;
-webkit-border--radius:5px;
border-radius:5px;
-moz-box-shadow: 0 10px 5px #6ca1ae inset;
-webkit-box-shadow: 0 10px 5px #6ca1ae inset;
box-shadow: 0 10px 5px #6ca1ae inset;
-webkit-appearance: none;
background-color:#488a9a;
font-size:13px;
font-weight:bold;
text-align:center !important;
width:82px;
height:20px;
padding-bottom:20px;
padding-bottom:0 \9;
height:22px \9;
line-height:20px
}
.selected .orderNo input{background-color:#488a9a;color:#fff;}
.selected{background-color:#e7e7e7;}
#flash{
       background-color:#FCB542;
       border-bottom:3px solid #478B9B;
       font-size:15px;
       height:60px;
       line-height:60px;
       position:fixed;
       _position:absolute;
       text-align:center;
       width:100%;
       z-index:10000;
       color:white;
       font-weight:bold;
       _left:0;
       _top:0;
     }
